ul,li,a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    margin-left: 18px;
    text-align: center;
    align-items: center;
}
li,:hover{
    color: black;
}
.adds-banner{
    width: 1366px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid ;
}
.Najot-talim{
    width: 1366px;
    height: 200px;
}
header{
    width: 1366px;
    height: 50px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.logo{
    display: flex;
    flex: 2;
    border: 1px solid;
}

nav{
    display: flex;
    flex: 8;
    border: 1px solid;
}

.serach{
    display: flex;
    flex: 2;
    border: 1px solid;
}
.main-news{
    width: 1366px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin: 0 auto;
}
.main-news-left{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    flex: 8;
    margin: 0 auto;
}
.main-news-left-top{
 margin-bottom: 50px;
}
.main-news-left-middle{
margin-bottom: 50px;
}
.main-news-left-bottom{
    display: flex;
    flex: 1;
}
.main-news-right{
    display: flex;
    flex-direction: column;
    flex: 4;
    border: 1px solid green;
}
.item{
    display: flex;
    flex: 1;
    border: 1px solid;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-list{
    display: flex;
}
.store{
    margin-left: 50px;
}
.Malumotlar{
    width: 450px;
    height: 330px;
    background-color: #EEF1F7;
}
.two-hujat{
    width: 450px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.Suri-hujat{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.fo-hujat{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.fifve-hujat{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.Dumaloq{
    display: flex;
}
.container2{
    width: 1366px;
    height: 350px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin: 0 auto;
}
.Libsit{
    display: flex;
}
.Libisit-2{
    margin-left: 50px;
}
.Libisit-3{
    margin-left: 75px;
}
.Vibor-nmadur{
    width: 1366px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin: 0 auto;
}
.Выбор-редакции{
    display: flex;
}
.urb-tursan{
    width: 1366px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin: 0 auto;
}
.dumloqmdi{
display: flex;
}
.main-news1{
    width: 1366px;
    height: 565px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin: 0 auto;
}
.main-news-left1{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    flex: 8;
    margin: 0 auto;
}
.main-news-left-top1{
 border: 1px solid black;
 flex-direction: row;
 flex: 1;
}
.main-news-left-middle1{
border: 1px solid black;
flex-direction: row;
flex: 1;
}
.Mal-umot-1{
    width: 550px;
}
.birqatorqilmiz{
    display: flex;
}
.iknichirasm{
    margin-left: 50px;
}
.birqator-qil{
    display: flex;
}
.tortinchi{
    margin-left: 50px;
}
.tortasni-ura{
   margin: 0 auto;
}
.navbar-qismi-emas{
    width: 1366px;
  
}
.urab-turgin-chudnimi{
    display: flex;
}

.tortasni-urawin-kerak{
    display: flex;
}
.div-2{
    margin-left: 25px;
}
.div-3{
    margin-left: 25px;
}
.div-4{
    margin-left: 25px;
}
.main-news-left-top2{
    border: 1px solid black;
    flex-direction: row;
    flex: 1;
   }
   .main-news-left-middle2{
    border: 1px solid black;
    flex-direction: row;
    flex: 1;
   }
   .divc-1{
       display: flex;
   }
   .divc-2{
       display: flex;
   }
   .divc-3{
       display: flex;
   }
   .divc-4{
       display: flex;
   }
   .uchtasni-urisan{
       display: flex;
   }
   .div-ikki{
       margin-left: 20px;
   }
   .div-uch{
       margin-left: 20px;
   }
   .container8{
    width: 1366px;
    height: 765px;
       border: 1px solid black;
   }
   .yana-ura{
       display: flex;
   }
   .ikkinchi{
       margin-left: 20px;
   }
.uchinchi{
    margin-left: 20px;
}
.ketma-ket{
    display: flex;
}
.bir1{
    width: 350px;
    border: 1px solid black;
    border-radius: 15%;
}
.div2{
    width: 350px;
    border: 1px solid black;
    border-radius: 15%;
    margin-left: 10px;
}
.div3{
    width: 350px;
    border: 1px solid black;
    border-radius: 15%;
    margin-left: 10px;
}
.div4{
    width: 350px;
    border: 1px solid black;
    border-radius: 15%;
    margin-left: 10px;
}
.ikktasni-ura{
    display: flex;
}
.to-2{
    margin-left: 25px;
}
.wan1-1{
    width: 350px;
}
.to2-2{
    width: 350px;
}
.torta-urabergin{
    display: flex;
}
.suri3-3{
    width: 350px;
}
.tort4-4{
    width: 350px;
}
ul,li{
    display: flex;
}
.foter-nav{
    width: 1320px;
    background-color: blue;
    text-align: center;
    align-items: center;
}
.foter-bottoom{
    width: 1320px;
    height: 350px;
    background-color: blue;
}
.text-or{
    width: 350px;
}